---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../Icons/LinkedIn.astro';
import SocialIcons from'../components/SocialIcons.astro'
import Git from '../Icons/Git.astro';
import Email from '../Icons/Email.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../Icons/Briefcase.astro';
---

<Layout title="Portfolio de sergio - Estudiante DAM - Desarrollador y Programador Web"
	description="Contrata a Sergio ......."
>
	<main class="px-4">
	<SectionContainer class="py-44 py-30">
		<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex  flex-row gap-x-2 pb-6 lg:pb-10">Hey soy Sergio  
			<a href="https://www.linkedin.com/in/sergio-gimenez-coral-marco-4b34b1186" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></h1></a>
		<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span> Desarrollador web...</span> <span class="opacity-80"> De Barcelona, España.</span></h2>
		<nav class="flex gap-4 flex-wrap">
			<SocialIcons href="https://www.linkedin.com/in/sergio-gimenez-coral-marco-4b34b1186" >
				<LinkedIn class="size-4 md:size-6"/>
				LinkedIn
			</SocialIcons>
			<SocialIcons href="https://github.com/SergiGimenez95/SergiGimenez95.git" >
				<Git class="size-4 md:size-6"/>
				Github
			</SocialIcons>
			<SocialIcons href="https://github.com/SergiGimenez95/SergiGimenez95.git" >
				<Email class="size-4 md:size-6"/>
				sergiogimenezcoralmarco@gmail.com
			</SocialIcons>

			
		</nav>
	</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<Briefcase class="size-6"/>
			Experiencia
		</h2>
			<Experience/>
		</SectionContainer>
	
	</main>
</Layout>


